
header{
    display: block;
    color:  #007d7b;
    background-color:white;
    padding: 40px;
    text-align: center;
    }


    footer{
        background-color: black;
        text-align: center;
        color: white;
        padding: 50px;
    }

    #wrap{
        display: grid;
        max-width: 1300px;
        margin: auto;
    }

    h1{
        padding-left: 30px;
    }

body{
    display: grid;
background-color: black;
justify-content: center;
}

#hello-container{
    max-width: fit-content;
    justify-content: center;
}

    html{
        background-color: black;
    }

#wrap{
    background-color: white;
}

    header{
        text-align: left;
        
    }

*{
    font-family: Arial, Helvetica, sans-serif;
}


.center #form label {
    margin-left: -680px;
}


#form #name, #address, #city{
    width: 60%;
}

#form #submit{
    background-color: #007d7b;
    border: none;
    padding: 0.5em;
    color: #ffffff;
    border-radius: 15px;
    width: 35%;
}

input::placeholder{
font-weight: bold;
color: #007d7b;
}



.c, .h, .m{
    color: white;
    position: relative;
    bottom: 25px;
    left: 16px;
}


.g, .w{
    color: white;
    position: relative;
    bottom: 270px;
    left: 16px;
}


.r, .s, .uk, .usa{
    color: black;
    position: relative;
    bottom: 270px;
    left: 16px;
}

.i, .ire{
    color: black;
    position: relative;
    bottom: 608px;
    left: 16px;
}

.italy{
    position: relative;
    bottom: 25px;
}


    h2{
        
    text-align: center;
    }

    #hello{
        text-align:left;
    }

    p {font-size: 1.25em;}
    figcaption, label, input, small {font-size: 1em;}
    nav a {font-size: 1.5em;}
    h1 {font-size: 3em;}
    h2 {font-size: 2em;}
    

#grid-container{
    justify-content: center;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    text-align: center;
    max-width: 1300px;
    justify-content: center;
    padding: 10px;
    grid-gap:10px;
    margin: auto;
}

#hello p{
    padding-left: 40px;
}

#hello2 p{
    padding-left: 40px;
    padding-bottom: 20px;

}

[href="#TOP"] {
    position: relative;
    bottom: -2076px;
    border: .75px solid white;
    background-color: #000000;
}


.center{
    color:white;
    text-align: center;
}

nav ul{
    justify-content: right;
    list-style: none;
    display: flex;
    padding-right: 3px;
}

nav a{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}



@media only screen and (min-width: 1300px){

#grid img{
    height: 275px;
}

#grid #Iran img{
height: 612px;
}

#grid #Ire img{
    height: 612px;
    }


    #grid #W img{
        width: 413px;
    }

        [href="#TOP"] {
            position: relative;
            bottom: -2430px;
            right: -5px; 
            border: 1px solid white;
            background-color: #000000;
        }

        #grid #Italy img{
            height: 612px;
            width: 413px;
        }

}




    @media only screen and (max-width: 1300px) {
        #grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap:20px;
        }


        #grid #W img{
            height: 331px;
            width: 497px;
        }


        #grid #Italy img{
            height: 745px;
            width: 497px;
        }

        body{max-width: 1300px;}

        nav ul{
            justify-content: center;
            list-style: none;
            display: flex;
        }


        #grid-container{
            margin: auto;
    
        }

        #wrap{
            display: grid;
            max-width: 1034px;
        }

        nav ul{
            padding-left: 115px;
        }

        .center #form label {
            margin-left: -530px;
        }

        .g{
            color: white;
            position: relative;
            bottom: 328px;
            left: 16px;
        }

        .w{
            color: white;
            position: relative;
            bottom: 328px;
            left: 16px;
        }

        .r, .s, .uk, .usa{
            color: black;
            position: relative;
            bottom: 325px;
            left: 16px;
        }


        .i, .ire{
            color: black;
            position: relative;
            bottom: 740px;
            left: 16px;
        }

        

        [href="#TOP"] {
            position: relative;
            bottom: -4084px;
            right: -200px;
            border: 1px solid white;
            background-color: #000000;
        }

        }


        @media only screen and (max-width: 880px) {
            #grid{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }

            body{
                max-width: 880px;
            }

            #grid-container{
            margin: auto;
            }



        header{
            display: grid;
            max-width: 441px;
            font-size: 14px;
            text-align: center;
            margin: auto;
            }

            nav ul{
                justify-content: center;
                list-style: none;
                display: flex;
            }

            .center #form label {
                margin-left: -235px;
            }

            
            #wrap{
                display: grid;
                max-width: 517px;
                margin: auto;
            }


            [href="#TOP"] {
                position: relative;
                bottom: -6810px;
                right: -18px;
                border: 1px solid white;
                background-color: #000000;
            }
            

            }
            

